<%- include('../partials/header') %>
<form action="/surfSpots" method="POST">
  <label>Name: <input type="text" name="name" /> </label><br />
  <label>Location: <input type="number" name="location" /> </label><br />
  <button type="submit">Submit</button>
</form>
<%- include('../partials/footer') %>
